body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
}

.border {
    background-color: #d3d3d3;
}

.center {
    background-color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#current-card-container {
    margin-top: 20px;
    text-align: center;
}

#current-card {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}